/*
    BukGet Web-Repository
    
    @author: Nijikokun 
    @copyright 2011 (c) Nijikokun
    
    --[ Structure ]-------------------------
    -     This is a quick search index.    -
    ----------------------------------------
    -  $__generic
    -  $__wrapper
     `-|-  $_top
         `-|-  $header
             `-|-  $logo
               |-  $navigation
    -  $__split
     `-|-  $_table
       |-  $_pagination
       |-  $_viewable
         `-|-  $plugin
    -  $__buttons
    -  $__templates
    -  $__corners
    --[ End ]-------------------------------
    
*/

/*
    -[ $__generic ]------------------------- */

body {
    font-family: Arial,'lucida grande','lucida sans unicode','bitstream vera sans','dejavu sans','trebuchet ms',sans-serif;
    font-size: 12px;
    line-height: 1.7em;
    background: #fff;
    border-top: 2px solid #106FD4; }

    a {
        text-decoration: none;
        color: #106FD4 }

        a:hover {
            color: #888 }
            
            
    p {
        color: #666 }

        
    h1 {
        color: #000 }
        
        h2 {
            color: #000 }
        
.clear {
    clear: both }

/*
    -[ $__wrapper ]------------------------- */

.wrapper {
    margin: 0 auto;
    width: 922px; }

    /*
        -[ $_top ]------------------------------ */

    .top {
        background: #EEE url('../images/bg.gif');
        padding-bottom: 5px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2);
        -webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2); }

        /*
            [ $header ] */
            
        .top header {
            width: 922px;
            float: left;
            padding: 0px;
            margin: 10px 0px 10px 0px;
            color: #333;
            background: #106FD4;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#106FD4', endColorstr='#034C9B');
            background: -webkit-gradient(linear, left top, left bottom, from(#106FD4), to(#034C9B));
            background: -moz-linear-gradient(top,  #106FD4,  #034C9B);
            background: -o-linear-gradient(top,  #106FD4,  #034C9B);
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            -khtml-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -khtml-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px; }

            /*
                [ $logo ] */

            .top header .logo {
                font: bold 14px 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
                margin: 10px 18px 8px;
                padding: 0px 16px;
                height: 24px;
                float: right;
                width: 50px;
                text-indent: -99999px;
                color: #fff;
                background: url('../images/logo.png'); }

            /*
                [ $navigation ] */

            nav {
                float: left }

                nav ul {
                 list-style: none;
                 margin-top: 10px; }

                nav ul li {
                  display: inline-block }

                    nav ul li a {
                       font-size: 13px;
                       font-weight: bold;
                       padding: 12px 15px 13px;
                       margin-top: 3px;
                       margin-right: -3px;
                       color: #fff;
                       -webkit-transition: background .4s ease-in;
                       -moz-transition: background .4s ease-in;
                       -o-transition: background .4s ease-in;
                       transition: background .4s ease-in;
                       box-shadow: -1px 0px 0px rgba(0,0,0,0.2), inset 1px 0px rgba(255,255,255,0.2);
                       -moz-box-shadow: -1px 0px 0px rgba(0,0,0,0.2), inset 1px 0px rgba(255,255,255,0.2);
                       -webkit-box-shadow: -1px 0px 0px rgba(0,0,0,0.2), inset 1px 0px rgba(255,255,255,0.2); }

                        nav ul li a.active,
                        nav ul li a.active:hover,
                        nav ul li a:hover {
                           background: #003977;
                           color: #fff; }

                        nav ul li a.e:hover {
                           background: none }

                    nav ul li:first-child a {
                      -webkit-border-top-left-radius: 5px;
                      -webkit-border-bottom-left-radius: 5px;
                      -moz-border-radius-topleft: 5px;
                      -moz-border-radius-bottomleft: 5px;
                      border-top-left-radius: 5px;
                      border-bottom-left-radius: 5px;
                      box-shadow: none;
                      -moz-box-shadow: none;
                      -webkit-box-shadow: none; }
                      
/*
    -[ $__split ]---------------------------- */
    
    .split { }
    
        .split .first, .second {
            overflow: auto;
        }
        
        .split .first {
            height: 250px;
        }
        
        .split .second {
            min-height: 350px;
        }

    .hsplitbar {
        height: 1px;
        background: #aaa;
    }

    /*
        -[ $_table ]---------------------------- */
        
        .pack-list {
            width: 80%;
            margin-top: 10px; }
            
            .side-bar {
                float: right;
                width: 170px; }
                
                .side-bar input[type="search"] {
                    width: 98%;
                    padding: 2px;
                }
        
            .pack {
                border-bottom: 1px solid #eee;
                padding: 5px; }
                
            .pack:nth-child(even) { }
                
                .pack > .categories { float: right; }
                    
                    .pack > .categories > .buttons.small {
                        padding: 0 20px !important }
                        
                .pack .name {
                    display: block;
                    cursor: pointer; }
                        
                .pack .description {
                    display: block;
                    font-size: 11px;
                    color: #999; }
                    
                .pack .maintainer {
                    float: right;
                    font-size: 10px;
                    margin-right: 10px;
                    color: #ccc; }
            
    /*
        -[ $_pagination ]---------------------------- */
            
        .pagination {
            margin-top: 10px;
            list-style: none;
            float: left;
            padding: 3px 0 3px 3px;
        }
         
        .pagination li {
            float: left;
        }
         
        .pagination li a {
            float: left;
            outline: none;
            width: 10px;
            height: 10px;
            line-height: 6px;
            margin-right: 3px;
            text-indent: -9999px;
            background: #eee url('../images/bg.gif');
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        }
         
        .pagination li.on a {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#106FD4', endColorstr='#034C9B');
            background: -webkit-gradient(linear, left top, left bottom, from(#106FD4), to(#034C9B));
            background: -moz-linear-gradient(top,  #106FD4,  #034C9B);
            background: -o-linear-gradient(top,  #106FD4,  #034C9B);
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        
    /*
        -[ $_viewable ]------------------------- */
        
    
        
        /*
            [ $package ] */

        .package { 
        }
        
            .package .header {
                background: rgb(255,255,255);
                background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,226,1) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,225,226,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,226,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,226,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,226,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e2',GradientType=0 );
                background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,226,1) 100%);
                box-shadow: inset 0 -1px rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
               -moz-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
               -webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.8), 0 1px 3px rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid #BBBEBF;
                margin-bottom: 15px;
                padding: 15px 15px;
                color: #000;
                text-shadow: 0 1px rgba(255, 255, 255, 0.5); }
                
                .package .header h1 {
                    margin: 0px 0px 2px;
                    color: #336092;
                    font-size: 20pt;
                    font-weight: bold; }
                    
                .package .header .desc {
                    color: #777C81;
                    font-size: 11px;
                    margin-left: 8px; }
                    
                .package .header .info {
                    color: #8A9399;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
                    width: 20%;
                    text-align: right;
                    display: inline;
                    float: right; }
                    
                .package .header strong {
                    font-weight: bold; }
        
            .package .meta { 
                width: 922px;
                margin: 0 auto 20px;
                padding: 8px;
                background: #E7E6D9 url('../images/bg.gif');
                color: #336092;
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
               -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
               -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
                border: 1px solid #bbb;
                text-shadow: 0 1px 0 white;
                font-weight: bold;
                text-align: center; }
            
                .package .meta .info { 
                    color: #C2C2C2; }
            
            .package .info {
                width: 80%; }
                
                .package .info > .version {
                    display: none; }
                
                .package .info > .version > .download {
                    float: right; }
                    
                .package .info > .version > .item {
                    color: #333;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid #EEE; }
                
                    .package .info > .version > .item > span {
                        color: #000;
                        font-weight: bold; }
                    
            .package .versions {
                width: 125px;
                float: right; }
                
            .package .versions h2 {
                padding: 8px 0;
                font-size: 14px;
                font-weight: bold;
                color: #000; }
                
                .package .versions ul > li > a {
                    display: block;
                    padding: 3px 8px;
                    border-bottom: 1px solid #eee;
                    border-top: none; }
                    
            .package .comments #dsq-global-toolbar {
                display: none; }

            .package .comments .dsq-reply {
                clear: none; }

/*
    -[ $__buttons ]------------------------- */

a.download-blue {
    position: relative;
    margin: 0;
    padding: 8px 20px 8px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #106FD4 !important;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#c4c4c4));
    background: -moz-linear-gradient(top, #ededed, #c4c4c4);
    border: 1px solid #acacac;
    border-top-color: #bdbdbd;
    border-bottom-color: #949494;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    cursor: pointer; }

    a.download-blue:hover,
    a.download-blue:focus {
        box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
        -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
        -moz-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5); }

    a.download-blue:active {
        background: #ccc;
        background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb));
        background: -moz-linear-gradient(top, #c3c3c3, #ebebeb);
        border-color: #a6a6a6;
        border-top-color: #939393;
        border-bottom-color: #bcbcbc;
        box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
        -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
        -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
        -o-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5); }

.buttons {
    display: inline-block;
    padding: 0 33px;
    height: 19px;
    line-height: 19px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    font-family: "Lucida Grande", lucida, "Helvetica Neue", helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,0.09);
}

@-webkit-keyframes blinking {
   from {
       -webkit-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
   50% {
       -webkit-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0.2), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
    to {
       -webkit-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
}

@-moz-keyframes blinking {
   from {
       -moz-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
   50% {
       -moz-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0.2), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
    to {
       -moz-box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
}

@keyframes blinking {
   from {
       box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
   50% {
       box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0.2), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
    to {
       box-shadow: 
            inset 0 19px 0 rgba(0,115,215,0), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
        }
}

.buttons.ok {
    border-top-color: #5a5caf;
    border-bottom-color: #52536f;
    border-left-color: #56578f;
    border-right-color: #56578f;
    background: #d3f7fd; /* Old browsers */
    background: -moz-linear-gradient(top, #d3f7fd 0%, #87c5fb 50%, #a1d1f9 51%, #d4e9fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3f7fd), color-stop(50%,#87c5fb), color-stop(51%,#a1d1f9), color-stop(100%,#d4e9fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f7fd', endColorstr='#d4e9fc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* W3C */
    -webkit-animation-name: blinking;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -moz-animation-name: blinking;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    animation-name: blinking;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.buttons.ok:active, .buttons.cancel:active, .buttons.small:active {
    -webkit-box-shadow: inset 0 19px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    -webkit-animation-name: none;
    -moz-box-shadow: inset 0 19px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    -moz-animation-name: none;
    box-shadow: inset 0 19px 0 rgba(0,115,215,0.3), inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    animation-name: none;
    background: #d3f7fd; /* Old browsers */
    background: -moz-linear-gradient(top, #d3f7fd 0%, #87c5fb 50%, #a1d1f9 51%, #d4e9fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3f7fd), color-stop(50%,#87c5fb), color-stop(51%,#a1d1f9), color-stop(100%,#d4e9fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f7fd', endColorstr='#d4e9fc',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d3f7fd 0%,#87c5fb 50%,#a1d1f9 51%,#d4e9fc 100%); /* W3C */
    border-top-color: #5a5caf;
    border-bottom-color: #52536f;
    border-left-color: #56578f;
    border-right-color: #56578f;
}


.buttons.cancel, .buttons.inactive, .buttons.small {
    border-color: #9a9a9a;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 50%, rgb(236,236,236) 50%, rgb(235,235,235) 75%, rgb(243,243,243) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(50%,rgb(244,244,244)), color-stop(50%,rgb(236,236,236)), color-stop(75%,rgb(235,235,235)), color-stop(100%,rgb(243,243,243))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(244,244,244) 50%,rgb(236,236,236) 50%,rgb(235,235,235) 75%,rgb(243,243,243) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(244,244,244) 50%,rgb(236,236,236) 50%,rgb(235,235,235) 75%,rgb(243,243,243) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(244,244,244) 50%,rgb(236,236,236) 50%,rgb(235,235,235) 75%,rgb(243,243,243) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgb(255,255,255) 0%,rgb(244,244,244) 50%,rgb(236,236,236) 50%,rgb(235,235,235) 75%,rgb(243,243,243) 100%); /* W3C */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);    
}

.buttons.inactive {
    opacity: 0.5;
    cursor: default;
}

.buttons.small {
    height: 16px;
    line-height: 16px;
    font-size: 11px;
}

.buttons.small:active {
    -webkit-box-shadow: 
            inset 0 16px 0 rgba(0,115,215,0.3), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
    -moz-box-shadow: 
            inset 0 16px 0 rgba(0,115,215,0.3), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
    box-shadow: 
            inset 0 16px 0 rgba(0,115,215,0.3), 
            inset 0 1px 0 rgba(255,255,255,1),
            0 1px 0 rgba(0,0,0,0.09);
}
        
/*
    -[ $__templates ]----------------------- */

#templates {
    display: none;
    visibility: hidden; }
    
.hidden {
    display: none;
    margin-bottom: 5px; }
    
/*
    -[ $__corners ]------------------------- */
    
.rounded-three {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px; }
    
    .bottom-rounded-three {
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }

.rounded-five {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px; }
    
    .top-rounded-five {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
    
    .bottom-rounded-five {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }